.card {
    background: #150c1d;
}

.card:hover {
    background: linear-gradient(260deg, #291453 0%, #8c56fb 100%);
    transition: background 0.3s ease-in-out;     /* Add transition effect */
}
.card:hover .year {
    color: #fff;
}